.HomePage {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.OurServices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 15px 0px 15px 0px;
}

.specialities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.Offer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 15px 0px;
    height: 500px;
}

.special {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 400px;
    width: 650px;

}

/*@media only screen and (max-width: 768px) {
    .HomePage {
      flex-direction: column;
      width: 100%;
    }
  }
  
  /* Media query for smaller devices like smartphones */
  /*@media only screen and (max-width: 480px) {
    .HomePage{
        flex-direction: column;
        width: 100%;
    }
  }*/

  @media only screen and (max-width: 768px) {
    .OurServices, .sections, .special {
      flex-direction: column;
      align-items: center;
    }
  
    .OurServices .services, .sections .services, .special .services {
      width: 100%;
      margin: 10px 0;
    }
  }
  
  /* Media query for smaller devices like smartphones */
  @media only screen and (max-width: 480px) {
    .OurServices, .sections, .special {
      flex-direction: column;
      align-items: center;
    }
  
    .OurServices .services, .sections .services, .special .services {
      width: 100%;
      margin: 10px 0;
    }
  }