
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.account {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 25px;
   
}


nav {
    display: flex;
    background-color: #024250;
    height: 45px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


li, ul {
    display: flex;
    text-decoration: none;
    gap: 5rem;
    align-items: center;
    color: white;
}


button {
    display: flex;
    background-color: #00224D;
    color: white;
    border-radius: 5px;
    gap: 5px;
}


a:hover {
border: 1px solid white;
border-radius: 5px;
box-shadow: whitesmoke;
}


@media only screen and (max-width: 768px) {
    .top {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 10px 25px;
    }
  
    .account {
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 25px;
    }
  
    ul {
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  
    li {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .top {
      padding: 10px;
    }
  
    .account {
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    ul {
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  
    li {
      width: 100%;
    }
  }
