.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #079cad;
    color: white;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}