.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #079cad;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services:hover {
    background-color: #056b75; /* Darker shade of the original color */
    transform: scale(1.05); /* Slightly increase the size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}