
.image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#formcontainer{
    margin: 4rem 2rem;
}
.form-container{
    display: flex;
    margin: 3rem 2rem;
    border: 1px solid #089CAD;
    border-radius: 5px;
}
.form-items{
    display: block;
    text-align: center;
    align-items: center;
    
}
.forgot-password{
    text-align: end;
    margin-top: -0.1rem;
}

.form{
    margin: 0.5rem 2.5rem;
}
input,select{
    width: 26rem;
    padding: 0.5rem 0rem;
    margin: 0.4rem 0rem;
    border: 1px solid #089CAD;
    border-radius: 5px;
    background-color: #fff;
}
button{
    width: 26rem;
    margin: -3rem 0rem;
    padding: 1rem 0rem;
    background-color: #005365;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.items{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-decoration: solid;
    margin-top: -1rem;
}
#heading{
    text-align: center;
    margin: 2.5rem 0rem 1rem 2rem;
    text-decoration: none;
    font-size: 18px;
}
h3{
    color: hsl(191, 100%, 20%);
}
h2{
    color: #089CAD;
}

/* Login form CSS*/
.item{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#login-form{
 margin: 2.6rem 3rem;
}
#button{
    display: flex;
    background-color: #fff;
    color: #005365;
    border: 1px solid #089CAD;
    margin-top: 2rem; 
    border-radius: 5px;
    justify-content: center;
    padding: 5px;
    
}
.button-text{
    margin-top: 0.5rem;
    text-decoration: solid;
}
#form{
    margin: 1rem 2.5rem;
}
#google-icon{
width: 2rem;
}
.login-form{
    width: 50%;
}

/* Bookappointment CSS*/

.appointment-form{
    border: 1px solid #089CAD ;
    width: 40%;
    margin: 0 auto;
    padding: 2.5rem;
    border-radius: 5px;
}
.form-data{
    display: flex;
    gap: 1rem;
}

.form-data input{
    width: 14rem;
    margin: 0.6rem 0rem;
}
.heading2{
    text-align: center;
}
#appointment-btn{
width: 12rem;
margin: 1rem 8rem;
}
#message{
    width: 29rem;
    height: 8rem;
    margin-bottom: 1rem;
}
#time{
    width: 29rem;
}
option{
    padding: 0.1rem;
}
.error{
    color: red;
    margin:2rem 0rem;
}
